/*historia de la banda*/

h1{
    color: $colorParrafo;
    font-size: 35px;
    font-family: $fonts;
    text-align: center;
    padding: 70px;
}

#laBanda{
    display: grid;
    color:$colorParrafo;
    font-size: 25px;
    align-content: center;
}

#laBanda p{
    padding-top: 25px;
    
}

ul li{
    text-align: center;
    list-style: none;
}

.img_banda{
    height: 700px;
    width: 500px;
  
}